<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /MCAG_Militare-Civile-Archivio-Gestionale/

    # If the request already contains "public", stop rewriting
    RewriteCond %{REQUEST_URI} /public/
    RewriteRule ^ - [L]

    # Allow direct access to bin/debug_tools
    RewriteCond %{REQUEST_URI} /bin/
    RewriteRule ^ - [L]

    # Forward everything else to public folder
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
