<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure Basic Auth is passed to PHP
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect non-existing files/directories to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

# Security: Disable Directory Browsing
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# Security: Block access to hidden files (except .well-known)
<IfModule mod_authz_core.c>
    <FilesMatch "^\.(?!well-known)">
        Require all denied
    </FilesMatch>
</IfModule>
