<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /MCAG_Militare-Civile-Archivio-Gestionale/public/

    # Ensure Basic Auth is passed to PHP
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Don't rewrite files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
